<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bspicinini.calculadoradenotas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/title_activity_main_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ListagemActivity"
            android:label="@string/title_activity_Listagem"/>
        <activity android:name=".activitys.SingUpActivity"
            android:label="@string/title_activity_Cadastro"/>
    </application>

</manifest>